@font-face {
    font-family: merienda_bold;
    src: url(../fonts/Merienda-Bold.ttf);
}
@font-face {
    font-family: heaven_matters;
    src: url(../fonts/HeavenMattersPersonalUse.ttf);
}
@font-face {
    font-family: behind_script;
    src: url(../fonts/BehindScript.otf);
}
@font-face {
    font-family: swash;
    src: url(../fonts/BerkshireSwash-Regular.ttf);
}
@font-face {
    font-family: merienda_reg;
    src: url(../fonts/Merienda-Regular.ttf);
}
@font-face {
    font-family: italianno;
    src: url(../fonts/Italianno-Regular.ttf);
}


p.stanza {
    font-family: swash;
    font-size: 100%;
    text-align: center;
    line-height: 120%;
    font-weight: normal;
    color: black;
}
p.namie {
    font-family: swash;
    text-align: center;
    font-style: italic;
    font-size: 100%
    color: black;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    font-weight: normal;
    line-height: 80%;
}
p.weds {
    font-family: swash;
    font-size:90%;
    text-align: center;
    line-height: 75%;
}
p.invite {
    font-family: swash;
    font-size: 120%;
    text-align: center;
    line-height: 120%;
}
p.casual {
    font-family: swash;
    text-align: center;
    font-size: 100%;
    line-height: 90%;
}
p.name {
    font-family: swash;
    text-align:center;
}

body, html {
    height: 100%;
}

.backgroundimg {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

}


#back1 {
    background: url("../images/46729244-wedding-wallpapers.jpg");

}

#back2 {
    background: url("../images/46735965-wedding-wallpapers.jpg");
}

#back3 {
    background: url("../images/shabnamnews2797515644930514.jpg");
}

#back4 {
    background: url("../images/rings_wedding_roses_composition_80334_3840x2160.jpg");
}

#back5 {
    background: url("../images/46729244-wedding-wallpapers.jpg");
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 20s;

}
